{
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./packages/native/tsconfig.json",
      "./packages/api/tsconfig.json",
      "./docs/tsconfig.json"
    ]
  },
  "extends": ["@studiocompanion/eslint-config"],
  "rules": {
    "react/react-in-jsx-scope": "off"
  }
}
